footer {
  background: #333333;
  color: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-image {
  width: 50px;
  height: 50px;
  margin-right: 100px;
}

.chat-image {
  width: 50px;
  height: 50px;
}