<footer>
  <div class = "calender">
  <%= link_to image_tag("calendar.png", class:"calendar"), "#" %>
  </div>
   <div class = "chat">
  <%= link_to image_tag("comment.png", class:"comment"), rooms_path %>
  </div>
</footer>