<footer>
  <div>
  <%= link_to image_tag("calendar.png", class:"calendar-image"), root_path %>
  </div>
   <div >
  <%= link_to image_tag("comment.png", class:"chat-image"), rooms_path %>
  </div>
</footer>