<header>
   <div class = "header-main">
    <div class = "header-left">team-app</div>
    <div class = "header-right">
      <div class = "user-name"><%= current_user.name %></div>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout'%>
    </div>
   </div>
</header>