<header>
   <div class = "header-main">
    <div class = "header-left">team-app</div>
    <div class = "header-right">
      <div class = "user-name">user-name</div>
      <div class = "logout">ログアウト</div>
    </div>
   </div>
</header>